:root {
  --content-primary: #ffffff;
  --content-secondary: #98959d;
  --content-tertiary: #666666;
  --content-brand: #9282fa;

  --bg-primary: #151515;
  --bg-secondary: #1e1e1e;
  --bg-tertiary: #23242c;
  --bg-brand: #9282fa;
  --bg-hl: #bdb4fa;

  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-brand: #9282fa;
  --border-divisor: #353339;

  --acent-blue: #027df0;
  --acent-blue-light: #16487a;
  --acent-yellow: #f0dc02;
  --acent-yellow-light: #756e1b;
  --acent-orange: #f09102;
  --acent-orange-light: #75501b;
}

h1 {
  font-size: 1.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

