@import url(global.css);

body {
  background-color: var(--bg-primary);
  font-family: "Inter Tight", sans-serif, system-ui;
  color: var(--content-primary);
  color: #ffffff;
}

h1 {
  color: white;
  font: 700 1.5rem/2.2;
}

p {
  font: 100 0.875rem/1.7;
}

.link {
  font: 500 0.6rem/1;
}
.card {
  background-color: #1c1a21;
  width: 350px;
  height: 350px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
}
